.work-section {
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
    background: linear-gradient(135deg, #0d1b4c, #0b238e);
  text-align: center;
}

.work-container {
  max-width: 1200px;
  margin: auto;
}

/* Heading */
.work-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
  color: white;
}

.work-subtitle {
  font-size: 17px;
  color: #555;
  margin-bottom: 60px;
  line-height: 1.6;
  color: white;
  font-weight: bold;
}

/* Grid */
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

/* Card */
.work-card {
  background: linear-gradient(135deg, #0d1b4c, #000);
  border-radius: 22px;
  padding: 24px;
  text-align: left;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  color: white;
}

.work-card:hover {
  transform: translateY(-6px);
}

/* Image */
.work-img {
  width: 100%;
  height: auto;
  border-radius: 14px;
  margin-bottom: 18px;
}

/* Text */
.work-card h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;

}

.work-card p {
  font-size: 15px;
  color: #666;
  margin-bottom: 14px;
  color: white;
}

.work-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-card li {
  font-size: 14px;
  color: #fff;
  margin-bottom: 8px;
}

/* Button */
.work-btn {
  margin-top: 50px;
}

.work-btn a {
   background: linear-gradient(135deg, #0d1b4c, #000);

  color: #fff;
  padding: 14px 30px;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.work-btn a:hover {
  background: #009c68;
}

/* Responsive */
@media (max-width: 1000px) {
  .work-grid {
    grid-template-columns: 1fr;
  }

  .work-title {
    font-size: 32px;
  }
}
.footer {
  
  color: #fff;
 padding-top: 100px;
  font-family: Arial, sans-serif;
  text-align: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.column {
  flex: 1 1 300px;
  margin: 10px;
}

.column h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.column p {
  line-height: 1.5;
  font-size: 14px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  opacity: 0.8;
}

